<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>servlets.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Accueil</servlet-name>
  	<display-name>Accueil</display-name>
  	<description></description>
  	<servlet-class>servlets.Accueil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListeRessources</servlet-name>
  	<display-name>ListeRessources</display-name>
  	<description></description>
  	<servlet-class>servlets.ListeRessources</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjouterTypeRessource</servlet-name>
  	<display-name>AjouterTypeRessource</display-name>
  	<description></description>
  	<servlet-class>servlets.AjouterTypeRessource</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifierRessource</servlet-name>
  	<display-name>ModifierRessource</display-name>
  	<description></description>
  	<servlet-class>servlets.ModifierRessource</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Inscription</servlet-name>
  	<display-name>Inscription</display-name>
  	<description></description>
  	<servlet-class>servlets.Inscription</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Accueil</servlet-name>
  	<url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListeRessources</servlet-name>
  	<url-pattern>/ListeRessources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjouterTypeRessource</servlet-name>
  	<url-pattern>/AjouterTypeRessource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifierRessource</servlet-name>
  	<url-pattern>/ModifierRessource</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Inscription</servlet-name>
  	<url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  
</web-app>
